<div [ngClass]="{thirdBlock:true}">
    <div [ngClass]="{imgBlock:true}">
        <img [ngClass]="{imgElem:true}" *ngFor="let imgPath of card.streamerImg" src={{imgPath.path}}>
    </div>
    <p [ngClass]="{groupTitle:true}">{{ card.cardTitle }}</p>
    <div [ngClass]="{miniBlock:true}">
        <p [ngClass]="{creator:true}">Создатель:</p>
        <a [ngClass]="{creator:true}">{{ card.cardCreator }}</a>
    </div>
    <div [ngClass]="{miniBlock:true}">
        <p [ngClass]="{creator:true}">Отслеживают:</p>
        <img [ngClass]="{miniImgElem:true}" *ngFor="let imgPath of card.subscriberImg" src={{imgPath.path}}>
    </div>
    <p [ngClass]="{tew:true}">Добавить в избранное</p>
</div>