.firstBlock{
    background-color: #303133;
    text-align: center;
    padding: 25px;
    min-height: 1000px;
}

.secondBlock{
    text-align: center;
    left: 30px;
    right: 30px;
    min-height: 963px;
}

.buttCl{
    text-align: center;
    font: caption;
    margin: 10px;
    font-size: 25px;
    box-shadow:0 0 10px 5px #03a9f4;
    border-radius: 5%;
    border-width: 3px;
    border-color:  #03a9f4;
    border-style: solid;
}